
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About Section</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surame</th>

    </tr>
    <tr>
        <td>1</td>
        <td>İrem</td>
        <td>Akkuş</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayça</td>
        <td>Aksoy</td>
    </tr>
</table>