@using Cv.Models.Entity
@model List<Interest>

<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    @foreach (var item in Model)
    {
        <h4>@item.Desc1</h4>
        <p class="mb-0">@item.Desc2</p> 
        <p class="mb-0">@item.Desc3</p><br />
    }

</div>
